[submodule "redux-anecdotes"]
	path = redux-anecdotes
	url = https://github.com/Mouarius/redux-anecdotes
[submodule "unicafe-redux"]
	path = unicafe-redux
	url = https://github.com/Mouarius/unicafe-redux
